{% extends "base.html" %}
{% block content %}
{% if school != None %}
<h1>Tomma rum på: {{school}}</h1>
{% if room_list|length > 0 %}
<pre style="font-size:18px;color:darkgrey;" class="tab">Rum:     Ledig tid:</pre>
{% for room in room_list %}
<pre class="tab">{{ room }}</pre>
{% endfor %}
{% else %}
<pre class="tab">Inga tomma rum</pre>
{% endif %}
<h2>Rum lediga inom 30 minuter: {{occupied_rooms}}</h2>
{% if occupied_room_list|length > 0 %}
<pre style="font-size:18px;color:darkgrey;" class="tab">Rum:     Tid upptaget:</pre>
{% for room in occupied_room_list %}
<pre class="tab">{{ room }}</pre>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}